<configuration>
  <system.webServer>    
    <handlers>
      <add name="iisnode" path="entry.js" verb="*" modules="iisnode"/>
    </handlers>   
	
	<rewrite>
      <rules>
        <rule name="myapp">
          <match url="/*" />
          <action type="Rewrite" url="entry.js" />
        </rule>
	
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^entry.js\/debug[\/]?" />
        </rule>
           
      </rules>
	</rewrite>
        <directoryBrowse enabled="true" />

   <iisnode nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" />
  </system.webServer>
</configuration>
